Repository kunleulysses/August9teen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @frontend-team, @docs-team

feat: add self coding dependencies
  server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
  server/consciousness/modules/SelfCodingLog.cjs
Owners: @backend-team

Fix refactoring thresholds key
  FlappyJournal hey/mechanismdocs/Execute/zen3.md
  FlappyJournal/mechanismdocs/Execute/zen3.md
  FlappyJournal/server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
  shared-consciousness/main-server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
Owners: @project-maintainers

refactor: consolidate self coding module
  FlappyJournal hey/server/SELF_CODING_FIXED_STATUS.md
  FlappyJournal hey/server/complete-self-coding-test-2025-07-20T03-40-55-762Z.txt
  FlappyJournal hey/server/complete-self-coding-test-2025-07-20T03-52-08-882Z.txt
  FlappyJournal hey/server/self-coding-status-2025-07-20T03-33-04-072Z.txt
  FlappyJournal hey/server/test-complete-self-coding-system.cjs
  FlappyJournal hey/server/test-fixed-self-coding.cjs
  FlappyJournal hey/server/test-resonance-network-integration.cjs
  FlappyJournal hey/server/test-self-coding-status.cjs
  FlappyJournal hey/server/test-standalone-self-coding.cjs
  FlappyJournal/generated/autonomous/resonance-integration-test-1753745179684.cjs
  FlappyJournal/server/SELF_CODING_FIXED_STATUS.md
  FlappyJournal/server/complete-self-coding-test-2025-07-20T03-40-55-762Z.txt
  FlappyJournal/server/complete-self-coding-test-2025-07-20T03-52-08-882Z.txt
  FlappyJournal/server/consciousness/modules/SelfCodingModule.cjs
  FlappyJournal/server/consciousness/modules/SelfCodingModuleFixed.cjs
  FlappyJournal/server/consciousness/modules/SelfCodingModuleStandalone.cjs
  FlappyJournal/server/generated/autonomous/api-client-1752981226227.cjs
  FlappyJournal/server/generated/autonomous/auto-test-module-1752982855754.cjs
  FlappyJournal/server/generated/autonomous/auto-test-module-1752983528876.cjs
  FlappyJournal/server/generated/autonomous/calculator-1752981226227.cjs
  FlappyJournal/server/generated/autonomous/data-manager-1752981226224.cjs
  FlappyJournal/server/generated/autonomous/formatter-1752981226227.cjs
  FlappyJournal/server/generated/autonomous/hello-world-1752981226222.cjs
  FlappyJournal/server/generated/autonomous/logger-1752981226227.cjs
  FlappyJournal/server/generated/autonomous/resonance-integration-test-1752984095169.cjs
  FlappyJournal/server/generated/autonomous/status-test-1752982381060.cjs
  FlappyJournal/server/generated/autonomous/utility-helpers-1752981226225.cjs
  FlappyJournal/server/generated/autonomous/validator-1752981226227.cjs
  FlappyJournal/server/self-coding-status-2025-07-20T03-33-04-072Z.txt
  FlappyJournal/server/test-complete-self-coding-system.cjs
  FlappyJournal/server/test-fixed-self-coding.cjs
  FlappyJournal/server/test-resonance-network-integration.cjs
  FlappyJournal/server/test-self-coding-status.cjs
  FlappyJournal/server/test-standalone-self-coding.cjs
  shared-consciousness/main-server/consciousness/modules/SelfCodingModule.cjs
  shared-consciousness/main-server/consciousness/modules/SelfCodingModuleFixed.cjs
  shared-consciousness/main-server/consciousness/modules/SelfCodingModuleStandalone.cjs
Owners: @project-maintainers

Add event bus Prometheus metrics
  prometheus/prometheus.yml
  shared-consciousness/main-server/consciousness/priority-event-bus.cjs
Owners: @project-maintainers

feat: enforce scope requirements on priority events
  FlappyJournal hey/server/consciousness/priority-event-bus.cjs
  FlappyJournal/server/consciousness/priority-event-bus.cjs
  shared-consciousness/main-server/consciousness/priority-event-bus.cjs
Owners: @project-maintainers

Add broker bus forwarding and general queue metrics
  shared-consciousness/main-server/consciousness/priority-event-bus.cjs
Owners: @project-maintainers

fix: restore broker bus integration
  FlappyJournal hey/server/consciousness/priority-event-bus.cjs
  FlappyJournal/server/consciousness/priority-event-bus.cjs
  shared-consciousness/main-server/consciousness/priority-event-bus.cjs
Owners: @project-maintainers

chore: add reality access log migration
  migrations/add_reality_access_log.sql
  server/api/routes/realities.cjs
  server/api/services/realityService.cjs
  server/common/logger.cjs
  server/consciousness/dna-sigil-reality-encoding.cjs
  shared/schema.ts
Owners: @project-maintainers, @backend-team

Add Litmus chaos experiments and scheduling
  docs/chaos-results/README.md
  docs/chaos-testing.md
  k8s/chaos/broker-partition.yaml
  k8s/chaos/db-loss.yaml
  k8s/chaos/pod-kill.yaml
  scripts/run-chaos-experiments.sh
  scripts/schedule-chaos.sh
Owners: @docs-team, @project-maintainers

Add holo-generator Helm chart
  charts/holo-generator/.helmignore
  charts/holo-generator/Chart.yaml
  charts/holo-generator/templates/_helpers.tpl
  charts/holo-generator/templates/configmap.yaml
  charts/holo-generator/templates/deployment.yaml
  charts/holo-generator/templates/hpa.yaml
  charts/holo-generator/templates/service.yaml
  charts/holo-generator/values.yaml
Owners: @project-maintainers

docs: expand runbook with onboarding and recovery steps
  RUNBOOK.md
Owners: @project-maintainers

feat: add scene deletion endpoint
  FlappyJournal/server/reality-generator-service.cjs
  FlappyJournal/server/sceneDeletionWorker.cjs
Owners: @project-maintainers

Add Argo Rollout with Prometheus success gate
  k8s/rollout-analysis.yaml
  k8s/rollout.yaml
Owners: @project-maintainers

Add Argo Rollout with Prometheus success gate
  k8s/rollout-analysis.yaml
  k8s/rollout.yaml
Owners: @project-maintainers

chore: include reality coverage
  jest.config.cjs
Owners: @project-maintainers

Add CI workflow with unit, integration, load and ZAP scans
  .github/workflows/ci.yml
Owners: @project-maintainers

Add k6 load test for WebSocket scene
  tests/load/ws_scene.js
Owners: @project-maintainers

Add property and recursion tests
  __tests__/recursion.spec.js
  __tests__/scene.spec.js
Owners: @project-maintainers

Add basic Grafana dashboard
  grafana/dashboard.json
Owners: @project-maintainers

feat: enable otel tracing
  server/consciousness/metricsServer.cjs
Owners: @backend-team

feat(metrics): add scene metrics and endpoint
  server/consciousness/metricsServer.cjs
Owners: @backend-team

feat: add prometheus alert rules
  deploy/k8s/prometheus-rules.yaml
  monitoring/prometheus/alerts.yaml
Owners: @project-maintainers

feat: limit recursion children
  FlappyJournal/server/consciousness/recursive-holographic-reality-embedding.cjs
  shared-consciousness/main-server/consciousness/recursive-holographic-reality-embedding.cjs
Owners: @project-maintainers

Add adaptive frame rate and backlog control
  FlappyJournal hey/server/reality-generator-service.cjs
  FlappyJournal/server/reality-generator-service.cjs
Owners: @project-maintainers

feat: cache Postgres store lookups
  package-lock.json
  package.json
  server/consciousness/persistence/PostgresStore.cjs
  server/consciousness/utils/cache.cjs
Owners: @project-maintainers, @backend-team

Validate consciousness metrics range
  FlappyJournal hey/server/consciousness/holographic-consciousness-reality-generator.cjs
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
  shared-consciousness/main-server/consciousness/holographic-consciousness-reality-generator.cjs
Owners: @project-maintainers

feat: add workerpool projection worker
  package-lock.json
  package.json
  server/consciousness/holographic-consciousness-reality-generator.cjs
  server/consciousness/workers/calcWorker.js
Owners: @project-maintainers, @backend-team

feat: add rate limiting to reality generator service
  FlappyJournal hey/server/reality-generator-service.cjs
Owners: @project-maintainers

refactor: load schemas locally
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
  FlappyJournal/server/consciousness/recursive-holographic-reality-embedding.cjs
  __tests__/schema-validation.test.cjs
Owners: @project-maintainers

feat: secure reality generator websocket
  FlappyJournal/server/reality-generator-service.cjs
Owners: @project-maintainers

feat: add reality generation authz middleware and mTLS config
  FlappyJournal/server/reality-generator-service.cjs
  k8s/holograph-ingress.yaml
  k8s/holograph-mtls.yaml
  k8s/holograph-rollout.yaml
  server/consciousness/utils/authz.cjs
Owners: @project-maintainers, @backend-team

feat: bridge reality gen results to websocket
  FlappyJournal/server/reality-generator-service.cjs
Owners: @project-maintainers

feat: persist holographic scenes
  server/consciousness/holographic-consciousness-reality-generator.cjs
Owners: @backend-team

feat: add reality generator service
  server/consciousness/reality-generator-service.cjs
Owners: @backend-team

feat: add reality scene table
  migrations/add_reality_scene_table.sql
  server/consciousness/persistence/PostgresStore.cjs
Owners: @project-maintainers, @backend-team

feat: add scene worker for reality generation
  server/consciousness/instance.cjs
  server/consciousness/workers/sceneWorker.js
Owners: @backend-team

test: add reality persistence test
  server/consciousness/__tests__/test-reality-persistence.cjs
Owners: @backend-team

feat: add S3 snapshotter
  server/consciousness/persistence/S3Snapshotter.cjs
  server/consciousness/persistenceShutdown.cjs
Owners: @backend-team

feat: add jetstream helm chart and runbook instructions
  RUNBOOK.md
  k8s/jetstream/values.yaml
Owners: @project-maintainers

feat: allow SelfCodingLog base directory override
  server/consciousness/modules/SelfCodingLog.cjs
Owners: @backend-team

.github/CODEOWNERS:

# Default owners
* @project-maintainers

# Per-folder ownership
/server/ @backend-team
/client/ @frontend-team
/docs/ @docs-team
