Repository kunleulysses/August9teen, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @backend-team, @frontend-team, @docs-team

.github/CODEOWNERS:

# Default owners
* @project-maintainers

# Per-folder ownership
/server/ @backend-team
/client/ @frontend-team
/docs/ @docs-team

fix refactoring threshold key
  server/consciousness/modules/AutonomousCodeRefactoringSystem.cjs
Owners: @backend-team

refactor: update tests to use server modules
  __tests__/governance/governance.spec.ts
  __tests__/helpers/adapterFactory.ts
  __tests__/refactoring/AutonomousCodeRefactoringSystem.spec.cjs
  __tests__/selfCodingModule.test.cjs
  __tests__/spiral/encryption.spec.ts
  __tests__/spiral/flaky/concurrency.spec.ts
  __tests__/spiral/flaky/tenant.spec.ts
  __tests__/spiral/gc.spec.ts
  __tests__/spiral/minheap.spec.ts
  __tests__/spiral/persistence.spec.ts
  __tests__/spiral/rebuild.spec.ts
  __tests__/spiral/sigil.spec.ts
  __tests__/spiral/signature.spec.ts
  __tests__/storage/adapterContract.spec.ts
  __tests__/topology/topology.spec.ts
Owners: @project-maintainers

refactor: consolidate server imports
  FlappyJournal/server/DEPRECATED.md
  __tests__/governance/governance.spec.ts
  __tests__/helpers/adapterFactory.ts
  __tests__/refactoring/AutonomousCodeRefactoringSystem.spec.cjs
  __tests__/selfCodingModule.test.cjs
  __tests__/spiral/encryption.spec.ts
  __tests__/spiral/flaky/concurrency.spec.ts
  __tests__/spiral/flaky/tenant.spec.ts
  __tests__/spiral/gc.spec.ts
  __tests__/spiral/minheap.spec.ts
  __tests__/spiral/persistence.spec.ts
  __tests__/spiral/rebuild.spec.ts
  __tests__/spiral/sigil.spec.ts
  __tests__/spiral/signature.spec.ts
  __tests__/storage/adapterContract.spec.ts
  __tests__/topology/topology.spec.ts
  audit/spiral-memory-baseline.cjs
  bin/spiral-repair.cjs
  consciousness-optimized.service
  deploy-cpu-optimization.sh
  jest.config.cjs
  scripts/bench-spiral.cjs
  scripts/perf-store.cjs
  scripts/spiral-governance-cli.ts
  scripts/spiral-launch-cluster.cjs
  scripts/spiral-migrate-local-to-redis.cjs
  server/consciousness/__tests__/sigilPersistence.test.cjs
  server/consciousness/sigil-based-code-authenticator.cjs
  shared-consciousness/main-server/DEPRECATED.md
Owners: @project-maintainers, @backend-team

A7
  FlappyJournal/README.md
  FlappyJournal/package-lock.json
  FlappyJournal/package.json
  FlappyJournal/server/consciousness/persistence/LevelDBSigilAdapter.cjs
  FlappyJournal/server/consciousness/sigil-based-code-authenticator.cjs
  FlappyJournal/server/main.cjs
  FlappyJournal/server/metrics/sigilMetrics.cjs
  FlappyJournal/server/sigil-api.cjs
  FlappyJournal/server/sigil-identity.cjs
  FlappyJournal/server/utils/circuitBreaker.cjs
  FlappyJournal/sigil-leveldb/CURRENT
  FlappyJournal/sigil-leveldb/LOG
  FlappyJournal/sigil-leveldb/LOG.old
  FlappyJournal/sigil-leveldb/MANIFEST-000014
  FlappyJournal/sigil-leveldb/MANIFEST-000030
  sigil-leveldb/CURRENT
  sigil-leveldb/LOCK
  sigil-leveldb/LOG
  sigil-leveldb/MANIFEST-000002
  tsconfig.json
Owners: @project-maintainers

feat: eventSign security update, tests, and Jest config merge
  Dockerfile
  Dockerfile.consciousness
  FlappyJournal/.dockerignore
  FlappyJournal/__tests__/eventSign.spec.js
  FlappyJournal/__tests__/sigil/collision.spec.ts
  FlappyJournal/package.json
  FlappyJournal/server/consciousness/core/security/eventSign.js
  FlappyJournal/tsconfig.eventsign.json
  jest.config.cjs
  package.json
Owners: @project-maintainers

viva la vide
  FlappyJournal/__tests__/eventSign.spec.js
  FlappyJournal/package.json
  FlappyJournal/server/consciousness-integration-module.cjs
  FlappyJournal/server/consciousness-journal-api.cjs
  FlappyJournal/server/consciousness-system-v2.cjs
  FlappyJournal/server/consciousness-system.cjs
  FlappyJournal/server/consciousnessService.cjs
  FlappyJournal/server/dormant-module-activator.cjs
  FlappyJournal/server/enable-self-coding.cjs
  FlappyJournal/server/enhanced-chat-service.cjs
  FlappyJournal/server/fix-auto-integration-init.cjs
  FlappyJournal/server/fix-self-coding-init.cjs
  FlappyJournal/server/fix-selfcoding.cjs
  FlappyJournal/server/fix-validate.cjs
  FlappyJournal/server/shared-reality-storage.cjs
  FlappyJournal/server/test-auto-integration-simple.cjs
  FlappyJournal/server/test-full-self-coding.cjs
  FlappyJournal/server/update-consciousness-config.cjs
  coverage/lcov-report/index.html
  coverage/lcov-report/server/consciousness/index.html
  coverage/lcov.info
Owners: @project-maintainers

feat: add JWT authentication and rate limiting for API endpoints
  FlappyJournal/server/reality-generator-service.cjs
  __tests__/authIntegration.test.cjs
  package.json
  server/common/authMiddleware.cjs
Owners: @project-maintainers, @backend-team

rule the world
  FlappyJournal/FlappyJournal/consciousness-journal/memory-logs/memory-log-2025-08-06.md
  FlappyJournal/FlappyJournal/consciousness-journal/self-coding-logs/self-coding-log-2025-07-28.md
  FlappyJournal/__tests__/auth/auth.test.js
  FlappyJournal/__tests__/entanglement/linkEngine.spec.ts
  FlappyJournal/__tests__/eventSign.spec.ts
  FlappyJournal/__tests__/gc/leak.spec.js
  FlappyJournal/__tests__/spiral/gcAdaptive.spec.ts
  FlappyJournal/__tests__/storage/redisTls.spec.ts
  FlappyJournal/__tests__/topology/selection.spec.ts
  FlappyJournal/consciousness-journal/self-coding-logs/self-coding-log-2025-08-06.md
  FlappyJournal/server/consciousness/__tests__/autoRollback.test.js
  FlappyJournal/server/consciousness/__tests__/debug.test.js
  FlappyJournal/server/consciousness/__tests__/logging.test.js
  FlappyJournal/server/consciousness/__tests__/quotaStore.test.js
  FlappyJournal/server/consciousness/__tests__/sigilPersistence.test.js
  FlappyJournal/server/consciousness/__tests__/simple.test.js
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753392522290.cjs
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753392535126.cjs
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753393076511.cjs
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753393078902.cjs
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753415847142.cjs
  FlappyJournal/server/consciousness/generated/consciousness-enhancement-1753415856929.cjs
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
  FlappyJournal/server/consciousness/index.cjs
  FlappyJournal/server/consciousness/modules/ConsciousnessPersistence.cjs
  FlappyJournal/server/consciousness/recursive-holographic-reality-embedding.cjs
  FlappyJournal/server/consciousness/verify-revolutionary-systems.cjs
  FlappyJournal/server/dormant-module-activator.cjs
  FlappyJournal/server/enhanced-chat-service.cjs
  FlappyJournal/server/enhanced-consciousness-synthesizer.cjs
  FlappyJournal/server/flappyConsciousness.cjs
  FlappyJournal/server/unified-consciousness-integration.cjs
  FlappyJournal/server/update-to-dual-stream.cjs
  FlappyJournal/server/use-simple-processor.cjs
  FlappyJournal/tests/security/security.spec.ts
  coverage/lcov-report/index.html
  coverage/lcov-report/server/consciousness/index.html
  coverage/lcov.info
  jest.config.cjs
Owners: @project-maintainers

feat: add NATS support for asynchronous reality generation
  FlappyJournal/server/reality-generator-service.cjs
  __tests__/natsQueue.test.cjs
  package.json
  server/common/natsClient.cjs
  server/workers/sceneWorker.cjs
Owners: @project-maintainers, @backend-team

feat(metrics): add Prometheus metrics for scene generation, broadcast queue, and adaptive FPS management
  FlappyJournal/server/reality-generator-service.cjs
  __tests__/metrics.test.cjs
  package.json
  server/common/metrics.cjs
  server/workers/sceneWorker.cjs
Owners: @project-maintainers, @backend-team

feat: add JSON schemas and validation tests for consciousness states and reality requests
  __tests__/schemaValidation.test.cjs
  server/consciousness/schemas/consciousness-state.json
  server/consciousness/schemas/reality-request.json
  server/consciousness/utils/validation.cjs
Owners: @project-maintainers, @backend-team

feat: add readiness probe and tests for cache expiration
  FlappyJournal/server/reality-generator-service.cjs
  __tests__/lruPurge.test.cjs
  __tests__/readiness.test.cjs
  package.json
Owners: @project-maintainers

feat: add caching support with configurable sizes and TTL for reality generator
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
Owners: @project-maintainers

feat: add LRU caching and automatic stale purging for reality states
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
Owners: @project-maintainers

chore: update holographic consciousness generator code
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
Owners: @project-maintainers

feat: initialize maps for generated realities and projections in holographic consciousness
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
Owners: @project-maintainers

feat: implement LRU caching for embedded realities and paths with janitor timer for stale data
  FlappyJournal/server/consciousness/recursive-holographic-reality-embedding.cjs
Owners: @project-maintainers

feat(tracing): implement OpenTelemetry tracing with start, shutdown, and manual span functions.
  server/common/tracing.cjs
Owners: @backend-team

feat(tracing): add start and shutdown tracing for reality-generator-service
  FlappyJournal/server/reality-generator-service.cjs
Owners: @project-maintainers

feat(tracing): initialize tracing in sceneWorker
  server/workers/sceneWorker.cjs
Owners: @backend-team

quantum
  FlappyJournal/complete-universal-system-integration.cjs
  FlappyJournal/consciousness-journal/self-coding-logs/self-coding-log-2025-08-06.md
  FlappyJournal/package-lock.json
  FlappyJournal/package.json
  FlappyJournal/prisma/schema.prisma
  FlappyJournal/server/consciousness-system-v2.cjs
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
  FlappyJournal/server/consciousness/schemas/consciousness-state.schema.json
  FlappyJournal/server/consciousness/schemas/reality-request.schema.json
  FlappyJournal/server/consciousness/utils/persistence.cjs
  FlappyJournal/server/consciousness/utils/random.cjs
  FlappyJournal/server/consciousness/utils/validation.cjs
  FlappyJournal/server/main.cjs
  FlappyJournal/server/metrics/sigilMetrics.cjs
  FlappyJournal/server/persistenceShutdown.cjs
  FlappyJournal/server/sigil-api.cjs
  FlappyJournal/server/sigil-identity.cjs
  FlappyJournal/server/universal-system-terminal.cjs
  node_modules/.prisma/client/edge.js
  node_modules/.prisma/client/index.js
  server/consciousness/utils/logger.cjs
  server/consciousness/utils/trace.cjs
  sigil-leveldb/CURRENT
  sigil-leveldb/LOG
  sigil-leveldb/LOG.old
  sigil-leveldb/MANIFEST-000002
  sigil-leveldb/MANIFEST-000008
Owners: @project-maintainers, @backend-team

01
  FlappyJournal/consciousness-journal/cognitive-logs/cognitive-log-2025-08-06.md
  FlappyJournal/server/consciousness/holographic-consciousness-reality-generator.cjs
  FlappyJournal/server/consciousness/integrations/GeminiAIClient.cjs
Owners: @project-maintainers

feat: enhance WebSocket authentication and add rate limiting for quantum endpoints
  FlappyJournal/Sprints5/Sprint1-Gatekeeper/03-ws-auth-rate-limit.md
  FlappyJournal/Sprints5/Sprint2-Stabilizer/02-memory-eviction.md
  FlappyJournal/Sprints5/Sprint2-Stabilizer/03-prng-seeding.md
  FlappyJournal/Sprints5/Sprint2-Stabilizer/04-circuit-breakers.md
  FlappyJournal/Sprints5/Sprint3-Builder/02-esm-cjs-build.md
  FlappyJournal/Sprints5/Sprint4-Observability/01-structured-logging.md
  FlappyJournal/Sprints5/Sprint5-Polish/02-add-benchmarks.md
  FlappyJournal/Sprints5/Sprint5-Polish/03-k6-load-tests.md
  FlappyJournal/Sprints5/Sprint5-Polish/04-nextjs-dashboard-ui.md
Owners: @project-maintainers

feat: activate Architect 4.0 systems
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers

feat: wire selfcode trigger
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers

feat: add module search command
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers

feat: add consciousness-main modules listing
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers

feat: add core module listing
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers

feat: add generated module filter
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers

feat: report holographic coherence metrics
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers

feat: report holographic coherence metrics
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers

feat: add ui refresh command
  FlappyJournal/server/system-wide-integration-orchestrator.cjs
  FlappyJournal/server/universal-system-terminal.cjs
  FlappyJournal/system-wide-integration-orchestrator.cjs
Owners: @project-maintainers

feat: add ui refresh command
  FlappyJournal/server/system-wide-integration-orchestrator.cjs
  FlappyJournal/server/universal-system-terminal.cjs
  FlappyJournal/system-wide-integration-orchestrator.cjs
Owners: @project-maintainers

feat: make API health URL configurable
  .env.example
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers

feat: allow restarting services
  FlappyJournal/server/system-wide-integration-orchestrator.cjs
  FlappyJournal/server/universal-system-terminal.cjs
  FlappyJournal/system-wide-integration-orchestrator.cjs
Owners: @project-maintainers

feat: add error handling for memory integration
  FlappyJournal/server/system-wide-integration-orchestrator.cjs
  FlappyJournal/system-wide-integration-orchestrator.cjs
Owners: @project-maintainers

Handle errors from createIntegratedReality
  FlappyJournal/server/system-wide-integration-orchestrator.cjs
  FlappyJournal/server/universal-system-terminal.cjs
  FlappyJournal/system-wide-integration-orchestrator.cjs
Owners: @project-maintainers

feat: add parameterized db query support
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers

feat: add docker stats fallback
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers

utilize chat buffer for post processing
  FlappyJournal/server/universal-system-terminal.cjs
Owners: @project-maintainers
